<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
	<p th:text="'Hello ' + ${model.username}">Hello World!</p>
	<p th:text="${'Hello ' + model.username}">Hello World!</p>
	
	<!-- Error -->
	<!-- <p th:text="Hello ${username}">Hello World!</p> -->
	<!-- <p th:text="${Hello username}">Hello World!</p> -->
	
	<p>Hello <span th:text="${model.username}">username</span>, and welcome to the application.</p>
	
	<br>
	<!-- <a th:href="@{/profile?id=} + ${model.id}" href="profile.html?id=userId">View my profile</a> -->
	<a th:href="@{/profile(id=${model.id}, trial=1)}" href="profile.html?id=userId">View my profile</a>	
</body>
</html>